html,body{
	height: 99%;
	width: 99%;
  background-color: #59007A;
}
*{
	box-sizing: border-box;
}
.banner{
	background-color: rgba(159,166,104,0.4);
	margin: 15px;
	padding: 10px;
	border: 3px solid #ffffff;
	box-shadow: 1px 3px 30px 1px #ffffff;
	text-transform: capitalize;
	font-family: 'Comic Sans MS', cursive;;
  color: #ffffff;
	height: 150px;
	text-align: right;
	font-style: oblique;
  background-image: url('background.png');
}

h1{
	font-size: 0.8em;
}

#logo{
	width: 75px;
	position: absolute;
	top: 50px;
	left: 55px;;
}
.container{
	border:2px #ffffff solid;
  box-shadow: 1px 3px 30px 1px #ffffff;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 1000px;
	overflow: hidden;
  background-image: url('container.png');
}
.wave{
	border: #ffffff 1px solid;
	color: black;
	text-align: center;
	font-size: 2.0em;
	height: 72px;
	overflow: hidden;
	width: 80%;
	position:relative;
	left: 10%;
	transition: height 4s;
  font-family: "Lucida Console", "Courier New", monospace;
	display:block;
  border:#ffffff 4px solid;
  background-image:repeating-linear-gradient(#6322a5, #ffffff);
  
}
#l1{
	border:#ffffff 4px solid;
	background-image:repeating-linear-gradient(#6322a5, #ffffff);
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 2.0em;
}
.wave:hover{
	height:90%;
	top:1px;
	z-index:1;
}
li{
  font-size: 0.7em;
}
h2{ font-size: 0.7em;
  background-color: white;}

p{color: white;}

mark{ background-color: #B885CB;}
h3{color: white;}

.easy{ float: left;
     width: 33.33%;
     padding: 5px;}